<%- model_class = Message -%>
<div class="page-header">
  <h1>Scheduled Mails</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:schedule_date) %></th>
    <th><%= model_class.human_attribute_name(:subject) %></th>
    <th><%= model_class.human_attribute_name(:body) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
  </tr>
  </thead>
  <tbody>
  <% @messages.each do |message| %>
      <tr>
        <td><%= link_to message.id, message_path(message) %></td>
        <td><%= message.schedule_date %></td>
        <td><%= message.subject %></td>
        <td><%= message.body %></td>
        <td><%=l message.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_message_path,
            :class => 'btn btn-primary' %>
